<form action="">
    <div class="row">
        <div class="col-12 fw-bold text-white">
            <h3>Reserva con Nosotros</h3>
            <hr>
            <h5>Los mejores precios del mercado</h5>
            <h5>Desde $999.999 COP</h5>
            <hr>
        </div>
    </div>
    <div class="row text-white fw-bold">
        <div class="col-12 col-md-6">
            <label class="form-label">Fecha de Entrada</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-calendar-week"></i></span>
                <input type="date" class="form-control" placeholder="Username">
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">Fecha de Salida</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-calendar-week"></i></span>
                <input type="date" class="form-control" placeholder="Username">
            </div>
        </div>
    </div>
    <hr class="text-white">
    <div class="row text-white fw-bold">
        <div class="col-12 col-md-6">
            <label class="form-label">Cantidad Niños</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
                <select class="form-select">
                    <option selected>Selecciona</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label class="form-label">Cantidad Adultos</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-people-fill"></i></span>
                <select class="form-select">
                    <option selected>Selecciona</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div> 
    </div>
    <hr class="text-white">
    <button type="submit" class="btn btn-primary w-100">Ver Disponibilidad</button>
</form>
